@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

:root{
    /* navbar  */
    --navbar-toggler-border-color: white;
    /* tabs */
    --nav-tabs-border-width: 50%;
}
.navbar-toggler{
    border-color: var(--navbar-toggler-border-color);
}

body{
    font-family: 'Montserrat', sans-serif;
    color: black;
}
h1, h2, h3, h4, h5, p, li, a{
    font-family: 'Montserrat', sans-serif;
}

h1, h2,b,svg,.social-media{
    color: navy;
}
h5{
    color: navy;
}
p{
    font-size: 19px;
    color: black;
}
button{
    color: white;
}
input{
    border: 3px solid black;
}
.justify{
    text-align: justify;
    font-size: 19px; 
}
@keyframes h1-animation {
    
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
} 
.copysolution{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.aperture2{
    
    
}
.aperture{
    padding: 2.5% 0;

}
.flex-container{
    display:flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 95%;
}
.caja{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
.text-box{
    max-width: 95%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}
.c1, .c4, .c5{
    
} 
.image-c1{

}
.box-img{
    max-width: 100%;

}

li{
    padding-bottom: 1rem;
}
.accordion-item{
    color: black;
}


.image-letters{
    color: white;
    text-align: center;
    font-size: 25px;   

}

.space{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.image-start{
    padding: 2.5%;
    max-width: 100%;
    background-size: 100%;
}

.button {
    font-size: 15px;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: rgba(76, 157, 194, 0.862);
}

.button:hover {
    background-color: rgba(63, 63, 160, 0.85);
    color: white;
    
}
/* 3d3d3d */
.button:active {
    background-color: white;
    transform: translateY(3px);
} 

.boton{
    max-width: 100%;
    padding: 16px  20px;
}
.underline{
    text-align: center;
    text-decoration: 5px red underline;
    font-size: 29px;
}
.image-letters{
    color: white;
    text-align: center;
    padding-top: 2px;
    font-size: 25px;
    
}
.info-1{
    display: grid;
    place-items: center;
    text-align: center;
    max-width: 100%;
}
.info-11{
    
    display: grid;
    place-items: center;
    text-align: left;
    max-width: 80%;
}
.link{
    margin-left: auto;
    margin-right: auto;
}
.logotipo2{
    font-size: 140%;
    max-width: 5%;
    position: relative;
    left: 5%;
    color: navy;
}
.logos{
    color: white;
}
.logos:hover{
    color: black;
}
.about{
    position: absolute;
    left: 38%;
    bottom: 25%;
}
.portfolio{

    position: absolute;
    left: 48%;
    bottom: 25%;

}
.pricing{
    position: absolute;
    left: 59%;
    bottom: 25%;
}
.b{
    text-decoration: none;
    color: navy;
}
.b:hover{
    
    color: gray;
    
}




/* imagen del inicio */
#image-start2{
    background-image: url('./img/3.png');
    padding: 0.5rem 0rem;

}
.introduction{
    
    padding: 2.5% 0%;
}
#About-Us{
    padding-bottom: 5rem;
}
.pill-tab{
    padding-top: 2.5%;
    display: grid;
    place-items: center;
}

.hidden{
    opacity: 0;
    transition: all 1s;
}
.hidden1{
    opacity: 0;
    transition: all 3s;
}
.hidden2{
    opacity: 0;
    transition: all 5s;
}
.hidden3{
    opacity: 0;
    transition: all 7s;
}
.show{
    opacity: 2;
}

.start{
    display: flex;
    position: relative;
    overflow: hidden; 
    padding: 8% 8% 8% 8%;  
    max-width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(18, 16, 16, 0.5); 
    background-blend-mode: lighten; 
    backdrop-filter: blur(10px);
    background-image: url('./img/About-us.png');
}

.transp{
    color: black;
    max-width: 100%;
    backdrop-filter: blur(5px);
    backdrop-filter: white; 
    margin-bottom: 2.5%; 
    max-width: 100%;
    text-align: center;
}
.h1_transp{
    color: navy;
}

#bg-video{
    padding: 5% 0;
}
#brake{
    background-color: navy;
    color: white;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
#background{
    background-color: rgba(32, 61, 105, 0.533); 
}
.center{
    text-align: center;
}
.sales{
    font-size: 35px;
}
.pill-tab{
    background-color: white;
}
.paddin{
    padding: 5% 0;
}
.Titulo{
    padding-bottom: 10px;
}
.Tittle{
    text-align: center;
}
.initial-text{
    font-size: 30px;
}
.list-tittle{
    background-color: rgb(255, 255, 255);
}
.tittle-start{
    position: relative;
    top: 35rem;
    right: 6rem;
    font-size: 70px;
}
.diseño-del-titulo{
    border-bottom: 3px solid black;
}
.steps{
    padding-bottom: 5%;
}

.git{
    border-top: 2.5px solid black;
}
#contact-info{
    background-image: url('./img/3.png');
}
.contact-form{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#media{
    background-color: rgba(32, 61, 105, 0.841); 
    color: white;
}
.size{

    max-width: 100%;

}
.text{
    text-align: left;
}
#subtext{
    background-color: #456c8991;
    color: white;
    text-align: center;
}
.text-muted{
    color: white;
}
.favicon{

    max-width: 150%;

}
.adjust{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.lista {
    max-width: 90%; 
    text-align: left; 
    margin-left: auto;
    margin-right: auto;
}
/* social media */
.email:hover,.ig:hover,.twitter:hover{
    color: black;
}
.email,.ig,.twitter{
    color: white;
}
.l{
    margin-left: 6%;
}
/* social media */
.imgn{
    display: grid;
    place-items: center;
}

#brand-img{
    background-image: url('./img/Background/1.png');
    max-width: 100%;
    background-size: 100%;
    padding: 0 0 40% 0%;
    background-repeat: no-repeat;
    text-align: center;
}

.bullet-Tittle{
    background-color: #456c89;
    color: white;
    margin-bottom: 10%;
    padding: 2.5%, 2.5%;
    max-width: 50%;
    text-align: center;
    font-size: 50px;
}
.bullet-points{
    padding-top: 3%;
    max-width: 60%;
    padding-bottom: 2.5%;
}

.writing{
    background-image: url("./img/Background/2.png");
    max-width: 100%;
    background-size: 100%;
    padding: 0 0 40% 0%;
    background-repeat: no-repeat;
}


.communication{
    background-image: url('./img/Background/3.png');
    max-width: 100%;
    background-size: 100%;
    padding: 0 0 40% 0%;
    background-repeat: no-repeat;
}
.tabz{
    padding-bottom: 2.5%;
}

.step1{
    padding-top: 3%;
}

.step2{
    background-image: url('');
}
.size1{
    max-width: 60%;
}

.carousel-caption{
    background-color: #456c898d;
}
#Proccess{
    padding-top: 3%;
}

.numbers{
    max-width: 50%; 
    margin-left: auto;
    margin-right: auto;
}

.text-hoover:hover{
    color: white;
}
.decoration{
    text-decoration: none;
}
.social{
    color: white;
}
@media (max-width:990px){
    p{
        font-size: 15px;
        color: black;
    }
.center2{
        padding-top: 25%;
        max-width: 100%;
}

.start{
    display: flex;
    position: relative;
    overflow: hidden; 
    padding: 10% 8% 8% 8%; 
    max-width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(153, 157, 162, 0.5); 
    background-blend-mode: lighten; 
    background-image: url('https://images.pexels.com/photos/5483075/pexels-photo-5483075.jpeg?auto=compress&cs=tinysrgb&w=600');
}
    .transp {
        max-width: 100%;
        backdrop-filter: blur(5px);
        backdrop-filter: white; 
        margin-bottom: 2%;  
    }
    .transp h3{
        color: white;
        max-width: 100%;
        backdrop-filter: blur(5px);
        backdrop-filter: white; 
        margin-bottom: 5%;  
        max-width: 100%;        
    } 

    .transp b{
        max-width: 100%;
        backdrop-filter: blur(5px);
        backdrop-filter: white; 
        margin-bottom: 6%;  
        max-width: 100%;
    }
    /* IMAGES OF PROCESS */
    .flex-container{
        display:flex;
        flex-direction:column;
        margin: 0 auto;
        justify-content: space-around;
        max-width: 95%;
    }
    .caja{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 100%;
    }
    .c1{
        order: 1;
    }
    .c2{
        order: 2;
    }
    .c3{
        order: 2;
    }
    .c4{
        order:1;
    }
    .c5{
        order: 1;
    }
    .c6{
        order: 2;
        padding-bottom: 2.5%;
    }
    .text-box{
        max-width: 95%;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
    }
    .c1, .c4, .c5{
        padding-bottom: 2%;
    } 
    .image-c1{
    
    }
    .box-img{
        max-width: 100%;
    }
    .space2{
        padding-bottom: 5%;
    }
    
    #brand-img{
        background-image: url('./img/Background/1.png');
        max-width: 100%;
        background-size: 100%;
        padding: 20% 0%;
        background-color: rgba(54, 71, 71, 0.849); 
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .writing{
        background-image: url("./img/Background/2.png");
        max-width: 100%;
        background-size: 100%;
        padding: 20% 0%;
        background-color: rgba(61, 94, 155, 0.5); 
        background-blend-mode: multiply;
        background-repeat: no-repeat;
    }

    .communication{
        background-image: url('./img/Background/3.png');
        max-width: 100%;
        background-size: 100%;
        padding: 20% 0%;
        background-color: rgba(108, 105, 105, 0.5); 
        background-blend-mode: multiply;
        background-repeat: no-repeat;
    }

    /* Tab accomodation */
    .adjust{
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    .tabz{
        padding-bottom: 5%;
    }
}